#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.logo {
      height: 32px; 
      margin: 16px;
      background: rgba(255, 255, 255, 0.3);
      background-image: url(./logo.png);
      background-size: 170px 32px ;
}